/* src/styles/TestimonialsHeader.css */
.testimonials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0A0A23;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it stays above other content */
}

.logo {
    display: flex; /* Flex layout for logo and text */
    align-items: center; /* Center align logo and text */
}

.logo img {
    height: 50px; /* Adjust logo height */
    margin-right: 10px; /* Space between logo and text */
}

.logo span{
    font-size: 24px;
    color: #00ffcc;
    font-weight: bold;
}

nav {
    display: flex; /* Flexbox layout for navigation links */
   
    font-weight: 500;
}

nav a {
    color: #fff; /* Link color */
    text-decoration: none; /* No underline */
}
.home{
    padding: 10px 20px;
}
.login-button {
    padding: 10px 20px;
    border: 1px solid #fff; /* White border */
    border-radius: 50px; /* Rounded corners */
    background-color: transparent; /* Transparent background */
    color: #fff; /* Button text color */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background */
}

.login-button:hover {
    background-color: orange; /* Change background color on hover */


}
